body {
    font-family: Arial;
    padding: 2rem;
    background-color: #f2f2f2;
}
h1 {
    color: #003366;
}
table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}
th {
    background-color: #003366;
    color: white;
}
